

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;  
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Bel;
    padding: 20px 2%;
    background-color: #269026;
}

.kadupis-decung{
    margin-top: 50px;
  }
  
  .kadupis-decung h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .cumconevu{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .cumconevu .volupavum {
    background: #6f47e4;
    margin: 4px;
    margin-bottom: 50px;
    width: 315px;
    padding: 18px;
    line-height: 20px;
    color: #ec0b0b;
    position: relative;
  }
  
  .cumconevu .volupavum h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .cumconevu .volupavum p.role {
    color: #2fea35;
    margin: 10px 0;
    font-size: 13px;
    text-transform: uppercase;
  }
  
  .cumconevu .volupavum .vumkob-salovum{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #603232;
  }
  
  .cumconevu .volupavum .vumkob-salovum img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }